root {
  --temp_white: #E7ECEF;
  --temp_green: #095256;
  --temp_medBlue: #1C6E8C;
  --temp_darkBlue: #1D2D44;
  --temp_lghBlue: #6096BA;


}


.App {
  display: grid;
  background: white;
  grid-template-columns: 10px 30% 1fr 30% 10px;
  grid-template-rows: auto;
  grid-gap: 20px;
  height: 100%;

}

.AddingField {
  display: flex;
  flex-flow: column;
  backgroung: red;
}